/* Particle.css */
.particles-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #1965d8, #2989d8, #86a9e0);
    z-index: -1;
  }
  